$fontStack:    Helvetica, sans-serif;
$primaryColor: #333;

body {
  font-family: $fontStack;
  color: $primaryColor;
}
.bodya {
  font-family: $fontStack;
  color: $primaryColor;
  font-size: 100px;
}
.bodyb {
  font-family: $fontStack;
  color: $primaryColor;
  font-size: 11px;
}
.bodyc {
  font-family: $fontStack;
  color: $primaryColor;
  font-size: 12px;
}
.bodyd {
  font-family: $fontStack;
  color: $primaryColor;
  font-size: 13px;
}
.bodye {
  font-family: $fontStack;
  color: $primaryColor;
  font-size: 14px;
}
.bodyf {
  font-family: $fontStack;
  color: $primaryColor;
  font-size: 15px;
}
.bodyg {
  font-family: $fontStack;
  color: $primaryColor;
  font-size: 16px;
}
