body {
  font-family: Helvetica, sans-serif;
  color: #333; }

.bodya {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-size: 100px; }

.bodyb {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-size: 11px; }

.bodyc {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-size: 12px; }

.bodyd {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-size: 13px; }

.bodye {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-size: 14px; }

.bodyf {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-size: 15px; }

.bodyg {
  font-family: Helvetica, sans-serif;
  color: #333;
  font-size: 16px; }
